PTERODACTYL_URL=https://panel.example.com
PTERODACTYL_API_KEY=ptlc_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PTERODACTYL_SERVER_ID=1a2b3c4d

# optional
PTERODACTYL_DIRECTORY=/
PTERODACTYL_TARGET_FILE=gecko-server.jar
PTERODACTYL_POWER_SIGNAL=restart
